.explore-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background-color: #2c3335;
}

/* LEFT COLUMN */
.left-column {
    flex: 0.7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.first-row {
    flex: 0.3;
}

.horizontal-line {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #cccccc;
}

.second-row {
    flex: 0.7;
    overflow-y: auto;
}

/* RIGHT COLUMN */
.right-column {
    flex: 0.3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Top form */
.customer-form-container {
    flex-shrink: 0;
}

/* Scrollable cart items */
.cart-items-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 6px;
}

/* Bottom summary */
.cart-summary-container {
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* Cart item style */
.cart-item {
    background-color: #2c2c2c;
    padding: 12px;
    border-radius: 8px;
}
